.head {
  background-color: black;
  display: flex;
  align-items: center;
}

.inside-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 60px;
  margin: 0 auto;
}

.search button {
  width: 120px;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #3f3f3f;
  color: whitesmoke;
  font-weight: 400;
  border: none;
  outline: 0;
  transition: background-color 300ms ease-out;
}

.search button:hover {
  background-color: #5b5b5b;
  transition: background-color 300ms ease-in;
}

.names {
  display: flex;
  align-items: center;
  column-gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 50%;
  height: 100%;
  padding: 0 10px;
  font-weight: 400;
  font-size: medium;
  text-transform: uppercase;
  cursor: all-scroll;
}

.names::-webkit-scrollbar {
  height: 5px;
  background-color: black;
}

.names::-webkit-scrollbar-thumb {
  background-color: red;
}

.inside-div .brand_info a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.head .inside-div .brand_info {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.search .github{
  height: 30px;
  width: 30px;
  background: transparent;
}

.search .github #github{
  display: block;
  scale: 1.8;
  transition: all 300ms;
}

.search .github #github:hover{
  scale: 1.95;
  transition: all 300ms;
}

.search .github:hover{
  background: transparent;
}